<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
</head>
<body>
<h1>Test</h1>


<ul>
    <%

            for (var peerOb in peersArr){%>

    <li><a href="<%=peersArr[peerOb].referer.address+":"+peerOb.port%>" ><%=peersArr[peerOb].name%></a></li>



<%}%>
</ul>
<h1><%=peersArr[0]["name"] %>
    </h1>
<h1><%=peersArr %></h1>





</body>

</html>