<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
</head>
<body>
<h1>Test</h1>


<form action="/" method="post">
    <label for="namePeer">Enter name: </label>
    <input id="namePeer" type="text" name="namePeer" hint="Enter Name here">
    <input type="submit" value="OK">
</form>

</body>

</html>